<div class="field">
  <label for="ability">{{ localize 'C5ETRAINING.SelectAnAbility' }}:</label>
  <select name="abilityInput" id="abilityInput"" {{#if (eq training.progressionStyle "simple")}}style="visibility:hidden;"{{/if}}>
    {{#each options as |option oid| }}
      <option value="{{option.value}}" {{#if (eq ../training.ability option.value)}} selected {{/if}}>{{option.label}}</option>
    {{/each}}
  </select>
</div>

<div class="field">
  <label for="completionAt">{{ localize 'C5ETRAINING.CompletionTarget' }}:</label>
  <input type="text" name="completionAtInput" id="completionAtInput" value="{{training.completionAt}}">
</div>
