<!-- SHOW FOR FIXED VALUE -->
<div class="form-group">
  <label for="fixedIncrease">{{ localize 'C5ETRAINING.SelectIncreaseAmount' }}</label>
  <div class="form-fields">
    <input type="number" name="fixedIncrease" id="fixedIncreaseInput"
      {{#if item.fixedIncrease}} value="{{item.fixedIncrease}}" {{/if}}
      {{#unless item.fixedIncrease}} value="1" {{/unless}}
      min="1">
    <label class="help">
      <i class="fas fa-question-circle"></i>
      <span class="tooltip">{{ localize 'C5ETRAINING.FixedIncreaseInputHelpText' }}</span>
    </label>
  </div>
</div>

<div class="form-group">
  <label for="completionAt">{{ localize 'C5ETRAINING.CompletionTarget' }}</label>
  <div class="form-fields">
    <input type="number" name="completionAt" id="completionAtInput" value="{{item.completionAt}}" min="0">
  </div>
</div>
