<!-- SHOW FOR SKILL -->
<div class="form-group">
  <label for="skill">{{ localize 'C5ETRAINING.SelectASkill' }}</label>
  <div class="form-fields">
    <select name="skill" id="skillInput"">
      {{#each dropdownOptions.skills as |option oid| }}
        <option value="{{option.value}}" {{#if (eq ../item.skill option.value)}} selected {{/if}}>{{option.label}}</option>
      {{/each}}
    </select>
  </div>
</div>

<!-- SHOW FOR ABILITY OR SKILL OR TOOL -->
<div class="form-group">
  <label for="dc">{{ localize 'C5ETRAINING.CheckDC' }}</label>
  <div class="form-fields">
    <input type="text" name="dc" id="dcInput" value="{{item.dc}}">
  </div>
</div>

<div class="form-group">
  <label for="completionAt">{{ localize 'C5ETRAINING.CompletionTarget' }}</label>
  <div class="form-fields">
    <input type="text" name="completionAtInput" id="completionAtInput" value="{{item.completionAt}}">
  </div>
</div>
