<!-- SHOW FOR TOOL -->
<div class="form-group">
  <label for="tool">{{ localize 'C5ETRAINING.SelectATool' }}</label>
  <div class="form-fields">
    <select name="tool" id="toolInput">
      {{#each dropdownOptions.tools as |option oid| }}
        <option value="{{option.value}}" {{#if (eq ../item.tool option.value)}} selected {{/if}}>{{option.label}}</option>
      {{/each}}
    </select>
    <label class="help">
      <i class="fas fa-question-circle"></i>
      <span class="tooltip">{{ localize 'C5ETRAINING.ToolInputHelpText' }}</span>
    </label>
  </div>
</div>

<!-- SHOW FOR ABILITY OR SKILL OR TOOL -->
<div class="form-group">
  <label for="dc">{{ localize 'C5ETRAINING.CheckDC' }}</label>
  <div class="form-fields">
    <input type="number" name="dc" id="dcInput" value="{{item.dc}}">
  </div>
</div>

<div class="form-group">
  {{#if item.dc}}
  <label for="completionAt">{{ localize 'C5ETRAINING.SuccessesRequired' }}</label>
  {{else}}
  <label for="completionAt">{{ localize 'C5ETRAINING.CompletionTarget' }}</label>
  {{/if}}
  <div class="form-fields">
    <input type="number" name="completionAt" id="completionAtInput" value="{{item.completionAt}}" min="0">
    <label class="help">
      <i class="fas fa-question-circle"></i>
      {{#if item.dc}}
      <span class="tooltip">{{ localize 'C5ETRAINING.SuccessesRequiredInputHelpText' }}</span>
      {{else}}
      <span class="tooltip">{{ localize 'C5ETRAINING.CompletionTargetInputHelpText' }}</span>
      {{/if}}
    </label>
  </div>
</div>
