<!-- Tab Controls -->
<div class="crash-training-controls">
    <div class="crash-training-export" title="{{ localize 'C5ETRAINING.ExportTrackedItemsTooltip' }}">
      <i class="fas fa-file-import"></i> {{ localize 'C5ETRAINING.ExportTrackedItems' }}
    </div>
    {{#if showImportButton}}
    <div class="crash-training-import" title="{{ localize 'C5ETRAINING.ImportTrackedItemsTooltip' }}">
      <i class="fas fa-file-export"></i> {{ localize 'C5ETRAINING.ImportTrackedItems' }}
    </div>
    {{/if}}
    <div class="crash-training-audit push-left" title="{{ localize 'C5ETRAINING.ReviewChanges' }}">
      <i class="fas fa-clipboard"></i> {{ localize 'C5ETRAINING.ChangeLog' }}
    </div>
    <div class="crash-training-new-category" title="{{ localize 'C5ETRAINING.CreateNewCategory' }}">
      <i class="fas fa-list"></i> {{ localize 'C5ETRAINING.AddCategory' }}
    </div>
    <div class="crash-training-add" title="{{ localize 'C5ETRAINING.CreateNewItem' }}">
      <i class="fas fa-plus"></i> {{ localize 'C5ETRAINING.AddItem' }}
    </div>
  </div>

  <!-- Category List -->
  <ol class="crash-training-category-list">

    <!-- Uncategorized -->
    <li class="header-row crash-training-column-grid">
      <div class="item-name">{{ localize 'C5ETRAINING.Uncategorized' }}</div>
      <div class="activity-type">{{localize "C5ETRAINING.CheckTypeColumnHeader"}}</div>
      <div class="activity-override">{{localize "C5ETRAINING.ProgressColumnHeader"}}</div>
      <div class="activity-progress"></div>
      <div class="crash-item-controls"></div>
    </li>
    
    <ol class="crash-training-item-list">
      {{#each (5e-training-isUncategorized actor) as |training tid| }}
        <li class="training-item crash-training-column-grid">
          <div class="item-name">
            <div class="{{5e-training-trainingRollBtnClass training}}"
                 id="crash-roll-{{training.id}}"
                 title="{{5e-training-trainingRollBtnTooltip training}}"
                 style="background-image: url('{{training.img}}')">
              <div class="checkmark">  <i class="fas fa-check"></i></div>
            </div>
            <div class="crash-training-toggle-desc" id="crash-toggle-desc-{{training.id}}" title="{{ localize 'C5ETRAINING.ToggleInfo' }}">{{training.name}}</div>
          </div>
          <div class="activity-type">
            {{5e-training-progressionStyle training ../actor}}
          </div>
          <div class="activity-override">
            <input type="text" class="item-control crash-training-override" id="crash-override-{{training.id}}" title="{{ localize 'C5ETRAINING.AdjustProgressValue' }}" value="{{training.progress}}"/>
            <span> / {{training.completionAt}}</span>
          </div>
          <div class="activity-progress">
            <div class="progress-bar">
              <div class="crash-training-completion" style="width:{{5e-training-trainingCompletion training}}%;">
                <span>{{5e-training-trainingCompletion training}}%</span>
              </div>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control crash-training-edit" id="crash-edit-{{training.id}}" title="{{ localize 'C5ETRAINING.EditItem' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control crash-training-delete" id="crash-delete-{{training.id}}" title="{{ localize 'C5ETRAINING.DeleteItem' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>

    <!-- Categories -->
    {{#each actor.flags.5e-training.categories as |category cid| }}
      <li class="header-row crash-training-column-grid" title="{{ category.description }}">
        <div class="item-name">{{ category.name }}</div>
        <div class="activity-type">{{localize "C5ETRAINING.CheckTypeColumnHeader"}}</div>
        <div class="activity-override">{{localize "C5ETRAINING.ProgressColumnHeader"}}</div>
        <div class="activity-progress"></div>
        <div class="item-controls">
          <a class="item-control crash-training-edit-category" id="crash-edit-category-{{category.id}}" title="{{ localize 'C5ETRAINING.EditCategory' }}"><i class="fas fa-edit"></i></a>
          <a class="item-control crash-training-delete-category" id="crash-delete-category-{{category.id}}" title="{{ localize 'C5ETRAINING.DeleteCategory' }}"><i class="fas fa-trash"></i></a>
        </div>
      </li>

      <ol class="crash-training-item-list">
        {{#each (5e-training-isInCategory ../actor category) as |training tid| }}
          <li class="training-item crash-training-column-grid">
            <div class="item-name">
              <div class="{{5e-training-trainingRollBtnClass training}}"
                   id="crash-roll-{{training.id}}"
                   title="{{5e-training-trainingRollBtnTooltip training}}"
                   style="background-image: url('{{training.img}}')">
                <div class="checkmark">  <i class="fas fa-check"></i></div>
              </div>
              <div class="crash-training-toggle-desc" id="crash-toggle-desc-{{training.id}}" title="{{ localize 'C5ETRAINING.ToggleInfo' }}">{{training.name}}</div>
            </div>
            <div class="activity-type">
              {{5e-training-progressionStyle training ../../actor}}
            </div>
            <div class="activity-override">
              <input type="text" class="item-control crash-training-override" id="crash-override-{{training.id}}" title="{{ localize 'C5ETRAINING.AdjustProgressValue' }}" value="{{training.progress}}"/>
              <span> / {{training.completionAt}}</span>
            </div>
            <div class="activity-progress">
              <div class="progress-bar">
                <div class="crash-training-completion" style="width:{{5e-training-trainingCompletion training}}%;">
                  <span>{{5e-training-trainingCompletion training}}%</span>
                </div>
              </div>
            </div>
            <div class="item-controls">
              <a class="item-control crash-training-edit" id="crash-edit-{{training.id}}" title="{{ localize 'C5ETRAINING.EditItem' }}"><i class="fas fa-edit"></i></a>
              <a class="item-control crash-training-delete" id="crash-delete-{{training.id}}" title="{{ localize 'C5ETRAINING.DeleteItem' }}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    {{/each}}
  </ol>