<form class="training-dialog">
  <div class="field">
    <label for="name">Name:</label>
    <input type="text" name="nameInput" id="nameInput" value="{{training.name}}">
  </div>

  <div class="field">
    <label for="progressionStyle">Progression Type:</label>
      <select name="progressionStyleInput" id="progressionStyleInput">
      <option value="ability" {{#if (eq training.progressionStyle "ability")}} selected {{/if}}>Ability Check</option>
      <option value="simple" {{#if (eq training.progressionStyle "simple")}} selected {{/if}}>Simple</option>
    </select>
  </div>
</form>
