<form class="crash-training-dialog">
  <div class="field">
    <label for="name">{{ localize "C5ETRAINING.Name" }}:</label>
    <input type="text" name="nameInput" id="nameInput" value="{{training.name}}">
  </div>

  <div class="field">
    <label for="progressionStyle">{{ localize "C5ETRAINING.ProgressionType" }}:</label>
    <select name="progressionStyleInput" id="progressionStyleInput">
      <option value="simple" {{#if (eq training.progressionStyle "simple")}} selected {{/if}}>{{ localize "C5ETRAINING.Simple" }}</option>
      <option value="ability" {{#if (eq training.progressionStyle "ability")}} selected {{/if}}>{{ localize "C5ETRAINING.AbilitySkillToolCheck" }}</option>
      <option value="dc" {{#if (eq training.progressionStyle "dc")}} selected {{/if}}>{{ localize "C5ETRAINING.CheckWithDC" }}</option>
    </select>
  </div>

  <div class="wide-field">
    <label for="description">{{ localize "C5ETRAINING.Description" }}:</label>
    <textarea name="descriptionInput" id="descriptionInput">{{training.description}}</textarea>
  </div>

</form>
