<div class="tab crash-training flexrow" data-group="primary" data-tab="training">
  <ol class="inventory-list">
    <li class="inventory-header flexrow">
      <h3 class="item-name flexrow">{{ localize 'C5ETRAINING.ActivityProgress' }}</h3>
      <div class="item-controls">
        <a class="item-control item-create crash-training-audit" title="{{ localize 'C5ETRAINING.ReviewChanges' }}">
          <i class="fas fa-clipboard"></i> {{ localize 'C5ETRAINING.AuditLog' }}
        </a>
        <a class="item-control item-create crash-training-add" title="{{ localize 'C5ETRAINING.CreateNewDowntimeActivity' }}">
          <i class="fas fa-plus-circle"></i> {{ localize 'C5ETRAINING.Add' }}
        </a>
      </div>
    </li>
    <ol class="item-list">
      {{#each actor.flags.5e-training.trainingItems as |training tid| }}
        <li class="item flexrow">
          <div class="item-name flexrow">
            <div class="item-image rollable crash-training-roll" id="crash-roll-{{tid}}" title="{{ localize 'C5ETRAINING.AdvanceActivityProgress' }}" style="background-image: url(icons/svg/d20.svg);"></div>
            <h4 class="rollable crash-training-toggle-desc" id="crash-toggle-desc-{{tid}}" title="{{ localize 'C5ETRAINING.ToggleInfo' }}">{{training.name}}</h4>
          </div>
          <div class="item-detail type">
            {{progressionStyle training ../actor}}
          </div>
          <div class="item-detail override">
            <input type="text" class="item-control crash-training-override" id="crash-override-{{tid}}" title="{{ localize 'C5ETRAINING.AdjustProgressValue' }}" value="{{training.progress}}"/>
            <span> / {{training.completionAt}}</span>
          </div>
          <div class="item-detail flexrow bar">
            <div class="progress-bar">
              <div class="crash-training-completion" style="width:{{trainingCompletion training}}%;">
                <span>{{trainingCompletion training}}%</span>
              </div>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control crash-training-edit" id="crash-edit-{{tid}}" title="{{ localize 'C5ETRAINING.EditDowntimeActivity' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control crash-training-delete" id="crash-delete-{{tid}}" title="{{ localize 'C5ETRAINING.DeleteDowntimeActivity' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </ol>
</div>
