<form class="crash-training-dialog">
  <div class="field">
    <label for="name">{{ localize "C5ETRAINING.Name" }}:</label>
    <input type="text" name="nameInput" id="nameInput" value="{{training.name}}">
  </div>

  {{#if (eq training.progressionStyle "ability")}}
    {{> "modules/5e-training/templates/partials/ability.html" training=training}}
  {{/if}}

  {{#if (eq training.progressionStyle "simple")}}
    {{> "modules/5e-training/templates/partials/simple.html" training=training}}
  {{/if}}

  {{#if (eq training.progressionStyle "dc")}}
    {{> "modules/5e-training/templates/partials/dc.html" training=training}}
  {{/if}}

  <div class="wide-field">
    <label for="description">{{ localize "C5ETRAINING.Description" }}:</label>
    <textarea name="descriptionInput" id="descriptionInput">{{training.description}}</textarea>
  </div>

</form>
