/*********************************/
/*           DIALOGS           */
/*****************************/

.crash-training-dialog .wide-field {
	margin-bottom: 10px;
	padding-top: 5px;
}

.crash-training-dialog .field {
	display: flex;
	margin-bottom: 10px;
	padding-top: 5px;
}

.crash-training-dialog .field * {
	flex: 5;
}
