form.crash-category-app .form-group {
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 4px 0;
	align-items: center;
}

form.crash-category-app .form-group.lighter {
	opacity: 60%;
}

form.crash-category-app .form-group label {
	color: #4b4a44;
	font-weight: bold;
	font-size: 13px;
}

form.crash-category-app .form-header {
	margin: 0 0 0.25em 0;
	padding: 2px 0;
	border-top: 2px groove #eeede0;
	border-bottom: 2px groove #eeede0;
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-size: 20px;
	font-weight: 700;
}
