form.crash-tracked-item-app .form-group {
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 4px 0;
	align-items: center;
}

form.crash-tracked-item-app .form-group label {
	color: #4b4a44;
	font-weight: bold;
	font-size: 13px;
}

form.crash-tracked-item-app .form-header {
	margin: 0 0 0.25em 0;
	padding: 2px 0;
	border-top: 2px groove #eeede0;
	border-bottom: 2px groove #eeede0;
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-size: 20px;
	font-weight: 700;
}

form.crash-tracked-item-app .help {
  position: relative;
  display: inline-block;
}

form.crash-tracked-item-app .help .tooltip {
  visibility: hidden;
  background-color: #4b4a44;
  color: #fff;
	font-weight: normal;
	line-height: 15px;
	font-size: 10px;
  text-align: center;
  padding: 5px;
	width: 200px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
	right: 105%;
	box-shadow: 0px 0px 5px #4b4a44;
}

form.crash-tracked-item-app .help:hover .tooltip {
  visibility: visible;
}
