.crash-training .crash-training-controls {
  display: flex;
  justify-content: flex-end;
  margin: 4px 0;
}
.crash-training .crash-training-controls div {
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  margin-right: 4px;
  padding: 5px 8px;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  border-radius: 4px;
}
.crash-training .crash-training-controls div.push-left {
  margin-right: auto;
}
.crash-training .crash-training-controls div:hover {
  cursor: pointer;
  color: black;
  text-shadow: 0 0 5px red;
}
.crash-training .crash-training-category-list {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.crash-training .crash-training-category-list .header-row {
  height: 28px;
  padding-inline: 4px;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  border-radius: 0px;
  font-size: 12px;
  color: #7a7971;
}
.crash-training .crash-training-category-list .header-row .item-name {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 16px;
}
.crash-training .crash-training-category-list .header-row .activity-override {
  text-align: center;
}
.crash-training .crash-training-category-list .header-row .item-controls {
  font-size: 13px;
  margin-left: auto;
}
.crash-training .crash-training-category-list ol.crash-training-item-list {
  padding-left: 2px;
  padding-right: 6px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item {
  font-size: 13px;
  align-items: center;
  border-bottom: 1px solid #c9c7b8;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item:last-of-type {
  border-bottom: none;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name {
  display: flex;
  align-items: center;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name:hover {
  cursor: pointer;
  color: black;
  text-shadow: 0 0 5px red;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name:hover .crash-training-roll {
  background-image: url("/../icons/svg/d20-grey.svg") !important;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name .crash-training-roll, .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name .crash-training-roll-disabled {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-right: 5px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name .crash-training-roll .checkmark {
  display: none;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name .crash-training-roll:hover {
  background-image: url("/../icons/svg/d20-black.svg") !important;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name .crash-training-roll-disabled {
  opacity: 50%;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name .crash-training-roll-disabled .checkmark {
  color: white;
  display: block;
  font-size: 30px;
  text-shadow: 0 0 5px black;
  text-align: center;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-override {
  display: flex;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-override input {
  flex: 1;
  text-align: right;
  padding-right: 2px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-override span {
  flex: 1;
  align-self: center;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-progress {
  display: grid;
  align-items: center;
  margin-right: 10px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-progress .progress-bar {
  flex: 10;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 20px;
  margin: 5px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-progress .progress-bar .crash-training-completion {
  color: #111111;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 4px;
  height: 100%;
  line-height: 22px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-progress .progress-bar .crash-training-completion span {
  margin-left: 5px;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-controls {
  margin-left: auto;
}
.crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-summary {
  margin-top: 5px;
}
.crash-training .crash-training-column-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 50px;
}
.crash-training .crash-training-column-grid .item-name {
  grid-column: 1/1;
}
.crash-training .crash-training-column-grid .activity-type {
  grid-column: 2/2;
}
.crash-training .crash-training-column-grid .activity-override {
  grid-column: 3/3;
}
.crash-training .crash-training-column-grid .activity-progress {
  grid-column: 4/4;
}
.crash-training .crash-training-column-grid .item-controls {
  grid-column: 5/5;
}
.crash-training .crash-training-column-grid .item-summary {
  grid-column: 1/5;
}

:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-controls div {
  color: var(--t5e-secondary-color);
  background: var(--t5e-faint-color);
  border-radius: 0.1875rem;
  border: none;
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-controls div:hover {
  color: var(--t5e-primary-color);
  text-shadow: none;
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list {
  color: var(--t5e-primary-font-color);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list .header-row {
  background: var(--t5e-table-header-row-color);
  border: none;
  color: var(--t5e-tertiary-color);
  font-size: 0.75rem;
  font-family: var(--t5e-body-font-family);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list .header-row .item-name {
  font-size: 0.75rem;
  font-family: var(--t5e-body-font-family);
  color: var(--t5e-primary-font-color);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list .header-row .item-controls a:hover {
  color: var(--t5e-primary-font-color);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list {
  padding-right: 0px;
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item {
  border: none;
  margin-bottom: 3px;
  background-color: var(--t5e-faintest-color);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-name:hover {
  color: unset;
  text-shadow: none;
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-progress .progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .activity-progress .progress-bar .crash-training-completion {
  color: var(--t5e-primary-color);
  background-color: var(--t5e-sheet-unlocked-icon-background);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-controls {
  color: var(--t5e-light-color);
  margin-right: 4px;
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-controls a:hover {
  color: var(--t5e-primary-font-color);
}
:is(.sheet[data-sheet-module=tidy5e-sheet]) .crash-training .crash-training-category-list ol.crash-training-item-list li.training-item .item-summary {
  padding-left: 8px;
}