/*********************************/
/*         TRAINING TAB        */
/*****************************/

/* Tweak some item controls styles to fit the additional buttons*/
.crash-training .crash-item-controls {
	min-width: fit-content;
	min-width: -moz-fit-content;
	flex: 0 0 44px;
	justify-content: space-between;
}

.crash-training .crash-item-controls a {
	min-width: fit-content;
	min-width: -moz-fit-content;
	flex: 1 !important;
	margin-right: 5px;
	font-size: 12px;
	text-align: center;
}

/* Roll Button */
.crash-training .crash-training-roll {
	flex: 0 0 30px;
	height: 30px;
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	margin-right: 5px;
	background-image: url("/../icons/svg/d20-grey.svg");
}

.crash-training .crash-training-roll:hover {
	background-image: url("/../icons/svg/d20-black.svg");
}

/* Type Column */
.crash-training .inventory-list .item-detail.type {
	text-transform: capitalize;
	flex: 0 0 140px;
}

/* Override Column */
.crash-training .inventory-list .item-detail.override {
	flex: 0 0 90px;
}

/* Progress Columns */
.crash-training .item-detail.bar {
	flex: 1 !important;
}

/* Progress Override Input */
.crash-training .item-detail .crash-training-override {
	text-align: right;
  padding-top: 1px;
  line-height: 1;
	display: inline;
  max-width: 40px;
}

/* Training Bar */
.crash-training .progress-bar {
	background-color: rgba(0,0,0,0.1);
	border-radius: 4px;
	height: 20px;
	margin: 5px;
}

/* Training Bar Progress */
.crash-training .progress-bar .crash-training-completion {
	color: #111111;
	background-color: rgba(255,0,0,0.4);
	border-radius: 4px;
	height: 100%;
	line-height: 22px;
}

/* Training Bar Progress Percent Text */
.crash-training .progress-bar .crash-training-completion span {
	margin-left: 5px;
}

/*********************************/
/*           DIALOGS           */
/*****************************/

.crash-training-dialog .wide-field {
	margin-bottom: 10px;
	padding-top: 5px;
}

.crash-training-dialog .field {
	display: flex;
	margin-bottom: 10px;
	padding-top: 5px;
}

.crash-training-dialog .field * {
	flex: 5;
}


/*********************************/
/*         AUDIT LOGS          */
/*****************************/

.crash-audit-log .instructions {
	margin-bottom: 10px;
}

.crash-audit-log .action-table {
	margin-bottom: 20px;
}

.crash-audit-log .action-table table {
	text-align: left;
	border: none;
	background-color: none;
}

.crash-audit-log .action-table table tr th,
.crash-audit-log .action-table table tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: capitalize;
}



.crash-audit-log .action-table table tr:nth-of-type(even) td {
	background-color: rgba(0,0,0,0.2);
}

.crash-audit-log .action-table table tr:hover td {
	background-color: rgba(255,0,0,0.2);
}

.crash-audit-log footer{
	display: flex;
}
.crash-audit-log #apply-audits,
.crash-audit-log #cancel-audits {
	flex: 1;
}

/*********************************/
/* SUPPORT FOR D&D5E DARK MODE */
/*****************************/

/* Training Bar */
.dark-mode .crash-training .progress-bar {
	background-color: #303030;
}

/* Training Bar Progress */
.dark-mode .crash-training .progress-bar .crash-training-completion {
	background-color: #3F88E6;
	color: #000000;
}

.dark-mode .audit-log .action-table table tr:nth-of-type(even) td {
	background-color: rgba(0,0,0,0.5);
}

.dark-mode .audit-log .action-table table tr:hover td {
	background-color: rgba(63,136,230, 0.4);
}
